<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="COMP123_S2016_Lesson11.Properties.Settings.COMP123ConnectionString"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=COMP123;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>